/* General body styling */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Form styling */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    gap: 20px; /* Space between columns and rows */
}

.input-column {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type=range], input[type=number] {
    width: 100%;
}

/* Styling for the buttons */
button {
    grid-column: 1 / -1; /* Span button across all columns */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Plot containers */
#plotAngle, #plotVelocity, #plotVoltage {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    grid-column: 1 / -1; /* Span plots across all columns */
}


.form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.graphs {
    margin-top: 20px; /* Adjust as needed */
}

/* Ensure each plot div takes the full width */
#plotAngle, #plotVelocity, #plotVoltage {
    width: 100%;
    margin-bottom: 20px; /* Space between plots */
}
