<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ODE Solver</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<form id="parameters-form">
    j: <input type="number" name="j"><br>
    Kem: <input type="number" name="Kem"><br>
    Gr: <input type="number" name="Gr"><br>
    Ra: <input type="number" name="Ra"><br>
    t: <input type="number" name="t"><br>
    r1: <input type="number" name="r1"><br>
    l: <input type="number" name="l"><br>
    Ks: <input type="number" name="Ks"><br>
    d: <input type="number" name="d"><br>
    L: <input type="number" name="L"><br>
    F: <input type="number" name="F"><br>
    N: <input type="number" name="N"><br>
    Maximum Time of Graph: <input type="number" name="maximumTime"><br>
    Initial theta: <input type="text" name="theta_0"><br>
    Initial omega: <input type="text" name="omega_0"><br>
    <button type="submit">Solve and Plot</button>
</form>
<div id="plotAngle"></div>
<div id="plotVelocity"></div>
<div id="plotVoltage"></div>

<script>
document.getElementById('parameters-form').onsubmit = function(e) {
    e.preventDefault();
    const formData = new FormData(e.target);
    const data = Object.fromEntries(formData.entries());
    fetch('/solve', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        Plotly.newPlot('plotAngle', [{
            x: data.time,
            y: data.theta,
            mode: 'lines',
            name: 'Theta(t)'
        }], {
            title: 'Graph of Theta vs. Time',
            xaxis: {title: 'Time (t)'},
            yaxis: {title: 'Theta (degrees)'}
        });

        Plotly.newPlot('plotVelocity', [{
            x: data.time,
            y: data.voltage,
            mode: 'lines',
            name: 'Omega(t)'
        }], {
            title: 'Graph of Angular Velocity vs. Time',
            xaxis: {title: 'Time (t)'},
            yaxis: {title: 'Angular Velocity (RPM)'}
        });

        Plotly.newPlot('plotVoltage', [{
            x: data.time,
            y: data.theta,
            mode: 'lines+markers',
            name: 'Voltage(t)'
        }], {
            title: 'Graph of Theta vs. Time',
            xaxis: {title: 'Time (t)'},
            yaxis: {title: 'Voltage (Volts)'}
        });
    });
};
</script>
</body>
</html>

